/* Render a virtual page view in Joplin's previewer
 *
 * jvirtpage.css is a stylesheet that will enable any note within the Joplin
 * application to render as an aesthetically pleasing virtual page in the
 * Joplin markdown viewer (the previewer).
 * 
 * Install the "Import Local CSS" plugin. Then @import this stylesheet within
 * your note:

<style>
    @import "/path/to/joplin-tweaks/jvirtpage.css";
</style>

 * … or …

<style>
    @import "https://taw00.github.io/joplin-tweaks/jvirtpage.css";
</style>

 * … and if, for example, you prefer A4 as your default page dimensions.
 *   create a jvirtpageA4.css that looks like this and import it instead:

@import "https://taw00.github.io/joplin-tweaks/jvirtpage.css";
:root {
    --jvp-page-width:  var(--jvp-page-widthA4);
    --jvp-page-height: var(--jvp-page-heightA4);
    --jvp-page-margin: var(--jvp-page-marginA4);
}

 * For more detail, refer to the documentation:
 * https://github.com/taw00/joplin-tweaks/docs/jvirtpage.md
 *
 * Joplin is Copyright (c) Laurent Cozic
 * jvirtpage.css is copyright (c) Todd Warner <t0dd [at] protonmail [dot] com>  
 * This work is licensed under Attribution 4.0 International. To view a copy
 * of this license, visit http://creativecommons.org/licenses/by/4.0/
 */

@layer jvirtpage {
    :root {
        /* popular page dimensions */
        --jvp-page-widthUS:  8.5in;  --jvp-page-heightUS:   11in;  --jvp-page-marginUS:   1in;
        --jvp-page-widthUSh: 5.5in;  --jvp-page-heightUSh: 8.5in;  --jvp-page-marginUSh: .5in;
        --jvp-page-widthA4:  210mm;  --jvp-page-heightA4:  297mm;  --jvp-page-marginA4:   1in;
        --jvp-page-widthA5:  148mm;  --jvp-page-heightA5:  210mm;  --jvp-page-marginA5:  .5in;
        --jvp-page-widthA6:  105mm;  --jvp-page-heightA6:  148mm;  --jvp-page-marginA6: .25in;

        /* the defaults for page dimensions and margin */
        --jvp-page-width:  var(--jvp-page-widthUS);
        --jvp-page-height: var(--jvp-page-heightUS);
        --jvp-page-margin: var(--jvp-page-marginUS);

        /* set the working page width & height values */
        --jvp-pgwidth:  var(--jvp-page-width);
        --jvp-pgheight: var(--jvp-page-height);

        /* indent is calculated from the margin. FUTURE USAGE (not used yet) */
        --jvp-indent: calc(var(--jvp-page-margin)  * .5);

        /* default behavior of a linked-to PDF in a note - currently enabled
         * also controlled by classes no-pdfs and show-pdfs
         * 'none' means not rendered. 'block' means rendered. We default to
         * rendered. */
        /*--jvp-pdf-display: none;
        --jvp-note-display: none;*/
        --jvp-pdf-display: block;
        --jvp-note-display: block;

        /* default behavior of the margin markers - currently displayed
         * also controlled by classes no-markers and show-markers
         * 'none' means no margin markers; 'block' means display them */
        /*--jvp-margin-markers-display: none;*/
        --jvp-margin-markers-display: block;

        /* CONSTANTS */
        --jvp-text-color: black;
        --jvp-text-color-link: hsl(219deg, 82%, 30%); /* from https://necolas.github.io/normalize.css/ but dark */
        --jvp-text-color-link-hover: hsl(219deg, 82%, 45%); /* same, but lighter */

        --jvp-jcloud-last-update-color: var(--jvp-text-color);
        --jvp-jcloud-title-color: var(--jvp-text-color);

        --jvp-paper-color: white;
        --jvp-desktop-color: hsl(0deg 0% 66%); /* darkgray */

        --jvp-code-text-color: var(--jvp-text-color);
        /*--jvp-code-background-color: hsl(from var(--jvp-desktop-color) h s l / 40%);
        --jvp-code-border: 1px solid hsl(from var(--jvp-code-text-color) h s l / 10%);*/
        --jvp-code-background-color: none;
        --jvp-code-border: 0;
        --jvp-pre-saturation-filter: 400%;
        --jvp-pre-brightness-filter: 70%;
        /*--jvp-pre-saturation-filter: 0%;
        --jvp-pre-brightness-filter: 0%;*/

        --jvp-paper-box-shadow: 0 0 var(--jvp-page-spacing) black;
        --jvp-1st-page-marker-color: hsl(from var(--jvp-text-color) h s l / 10%);

        --jvp-dim-text-color: black;
        --jvp-dim-text-color-link: hsl(219deg, 82%, 30%); /* same */
        --jvp-dim-text-color-link-hover: hsl(219deg, 82%, 45%); /* same */
        --jvp-dim-paper-color: hsl(0deg 0% 75%); /* silver */
        --jvp-dim-desktop-color: hsl(0deg 0% 41%); /* dimgray */

        --jvp-dark-text-color: hsl(0deg 0% 96%); /* whitesmoke; not white */
        --jvp-dark-text-color-link: hsl(219deg, 82%, 80%); /* the reverse, but lighter */
        --jvp-dark-text-color-link-hover: hsl(219deg, 82%, 70%); /* the reverse, but lighter */
        --jvp-dark-paper-color: hsl(0deg 0% 12%); /* very dark gray */
        --jvp-dark-desktop-color: hsl(0deg 0% 20%); /* darker than dimgray */
        /*--jvp-dark-desktop-color: hsl(222deg 12% 16%);*/ /* a dark purple-blue */

        /* Joplin Cloud stuff */
        --jvp-jcloud-footer-color: hsl(from var(--jvp-text-color) h s l / 30%);
        --jvp-jcloud-footer-color-link: hsl(from var(--jvp-text-color-link) h s l / 40%);

        /* Joplin default title upon HTML or PDF export or Joplin cloud and
         * last update date in Joplin Cloud.  We like it all off by default */
        --jvp-title-display: block;
        --jvp-last-updated-display: block;

        /* SWITCHES
         *
         * Switches to change the default page dimensions, margins/indents, and
         * theme. Enabled by sticking this div-block somewhere in your
         * document, for example:
         *      <div id="jvp" class="A5 landscape dark"></div>
         * There are also switches for showing and not showing notes and PDFs
         * and Joplin titles in exported stuff and updated date, etc. */
        &:has( :where(div#jvp.dark) ) {
            --jvp-text-color:    var(--jvp-dark-text-color);
            --jvp-text-color-link: var(--jvp-dark-text-color-link);
            --jvp-text-color-link-hover: var(--jvp-dark-text-color-link-hover);
            --jvp-paper-color:   var(--jvp-dark-paper-color);
            --jvp-desktop-color: var(--jvp-dark-desktop-color);
            --jvp-1st-page-marker-color: hsl(from var(--jvp-text-color) h s l / 8%);
            /*--jvp-code-background-color: hsl(from var(--jvp-desktop-color) h s l / 80%);
            --jvp-code-border: 1px solid hsl(from var(--jvp-code-text-color) h s l / 10%);*/
            --jvp-pre-saturation-filter: 200%;
            --jvp-pre-brightness-filter: 90%;
        }
        &:has( :where(div#jvp.dim) ) {
            --jvp-text-color:    var(--jvp-dim-text-color);
            --jvp-text-color-link: var(--jvp-dim-text-color-link);
            --jvp-text-color-link-hover: var(--jvp-dim-text-color-link-hover);
            --jvp-paper-color:   var(--jvp-dim-paper-color);
            --jvp-desktop-color: var(--jvp-dim-desktop-color);
            --jvp-1st-page-marker-color: hsl(from var(--jvp-text-color) h s l / 10%);
            /*--jvp-code-background-color: hsl(from var(--jvp-desktop-color) h s l / 40%);
            --jvp-code-border: 1px solid hsl(from var(--jvp-code-text-color) h s l / 10%);*/
            --jvp-pre-saturation-filter: 200%;
            --jvp-pre-brightness-filter: 70%;
        }

        &:has( :where(div#jvp:is(.US,.us)) ) {
            /* the defaults for everything - already set; being pedantic */
            --jvp-page-width:  var(--jvp-page-widthUS);
            --jvp-page-height: var(--jvp-page-heightUS);
            --jvp-page-margin: var(--jvp-page-marginUS);
        }
        &:has( :where(div#jvp:is(.USh,.USH,.ush)) ) {
            --jvp-page-width:  var(--jvp-page-widthUSh);
            --jvp-page-height: var(--jvp-page-heightUSh);
            --jvp-page-margin: var(--jvp-page-marginUSh);
        }
        &:has( :where(div#jvp:is(.A4,.a4)) ) {
            --jvp-page-width:  var(--jvp-page-widthA4);
            --jvp-page-height: var(--jvp-page-heightA4);
            --jvp-page-margin: var(--jvp-page-marginA4);
        }
        &:has( :where(div#jvp:is(.A5,.a5)) ) {
            --jvp-page-width:  var(--jvp-page-widthA5);
            --jvp-page-height: var(--jvp-page-heightA5);
            --jvp-page-margin: var(--jvp-page-marginA5);
        }
        &:has( :where(div#jvp:is(.A6,.a6)) ) {
            --jvp-page-width:  var(--jvp-page-widthA6);
            --jvp-page-height: var(--jvp-page-heightA6);
            --jvp-page-margin: var(--jvp-page-marginA6);
        }

        &:has( :where(div#jvp:is(.no-page-markers,.no-markers)) ) {
            --jvp-margin-markers-display: none;
        }
        &:has( :where(div#jvp:is(.show-page-markers,.show-markers)) ) {
            --jvp-margin-markers-display: block;
        }

        &:has( :where(div#jvp:is(.nopdfs,.no-pdfs, .nopdf,.no-pdf)) ) {
            --jvp-pdf-display: none;
        }
        &:has( :where(div#jvp:is(.showpdfs,.show-pdfs, .showpdf,.show-pdf)) ) {
            --jvp-pdf-display: block;
        }

        &:has( :where(div#jvp.show-title) ) {
            --jvp-title-display: block;
        }
        &:has( :where(div#jvp.no-title) ) {
            --jvp-title-display: none;
        }

        &:has( :where(div#jvp.show-date) ) {
            --jvp-last-updated-display: block;
        }
        &:has( :where(div#jvp.no-date) ) {
            --jvp-last-updated-display: none;
        }

        &:has( :where(div#jvp:is(.nonote,.nonotes,.no-note,.no-notes)) ) {
            --jvp-note-display: none;
        }
        &:has( :where(div#jvp:is(.shownote,.shownotes,.show-note,.show-notes)) ) {
            --jvp-note-display: block;
        }

        &:has( :where(div#jvp.landscape) ) {
            --jvp-pgwidth:  var(--jvp-page-height);
            --jvp-pgheight: var(--jvp-page-width);
        }

        /* OTHER CONSTANTS - don't change these */
        --jvp-page-spacing: 20px;
        --jvp-min-margin: 13vw; /* 13% of the viewport width. */
    } /* end :root */
} /* end @layer jvirtpage */


/* Uncomment this :has and its mirroring brace at the end of the file if you
 * want to require <div id="jvp"></div> to exist in a note before allowing any
 * of this formatting to function. I.e., the stylings will be OFF by default if
 * you uncomment this and its ending brace.
:has( div:where(#jvp) ) {
*/

/* If on by default (i.e., you haven't uncommented the above), turn off these
 * stylings with <div id="jvp" class="off"></div> somewhere within your note.
 * (Note that the div#vpage rule makes this compatible with the manuscript-css
 * project.) */
:not( :has( :where(#jvp.off, #jvp-off, #jvpoff, div#vpage > article#manuscript, #rendered-md > #sn-md) ) ) {



/*
 * configuration for both @media screen and print
 */
#rendered-md .media-player.media-pdf {
    /* do we display PDFs? */
    display: var(--jvp-pdf-display);
}

/* no-links, no-links-export
 * If you want to disable links in your document: one option disables all
 * links (no-links), and another only disables links in an exported PDF
 * (no-links-export)
 * Note, no-links-export rules defined in @media print section */
:has(:where(#jvp:where(#no-links,#disable-links,.no-links,.disable-links))) {
    a,
    a:is(:any-link,:link,:active,:visited,:hover) {
        pointer-events: none;
        cursor: default;
        color: inherit;
        text-decoration: unset;
        border: unset;
    }
}


/* make code blocks and pre's blend in more with the theme */
#rendered-md {
    & p code {
        color: var(--jvp-code-text-color);
        background-color: var(--jvp-code-background-color);
        border: var(--jvp-code-border);
    }
    & pre {
        padding: 5px;
        color: var(--jvp-code-text-color);
        background-color: transparent;
        * { filter: saturate(var(--jvp-pre-saturation-filter)) brightness(var(--jvp-pre-brightness-filter)); }
    }
}


/* Joplin Cloud stuff
 * - Remove (or show) the viewport cruft (title, last-updated, padding, etc.) */
body.page-note {
    & > main.main > div.container.main-container {
        & > div.note-main {
            /* viewport to 100% */
            margin: 0 auto;
            padding: 0;
            max-width: 100%;
            /* remove or show note title */
            /* remove or show "Last updated" line */
            & > h1.title { display: var(--jvp-title-display); }
            & > p.last-updated { display: var(--jvp-last-updated-display); }
        }
    }
}


/*
 * configuration for screen and HTML rendering
 */
@media screen {
    html { background-color: var(--jvp-desktop-color); }
    body {
        /* a virtual paper look: <body> is the "desk" behind the paper */
        background-color: var(--jvp-desktop-color);
        padding: 0;
    }

    body#joplin-container-body > #joplin-container-content {
        /* Remove the padding and bg that frames #rendered-md */
        background-color: transparent;
        padding: 0;
    }
    /* exported to HTML */
    body:not(#joplin-container-body) > div.exported-note {
        margin: 0;
        padding: 0;
        & > div.exported-note-title {
            display: var(--jvp-title-display) !important;
        }
    }

    /* Joplin Cloud stuff
     * - Fade the navbar and footer. Still present, just not prominent. */
    body.page-note {
        /* footer with copyright and T&Cs - fade to watermark */
        & > div.footer div.content {
            opacity: initial;
            color: var(--jvp-jcloud-footer-color);
            & a {
                color: var(--jvp-jcloud-footer-color-link);
            }
        }
        & > main.main > div.container.main-container {
            /* branded navbar - fade to watermark and remove fluff*/
            & > nav.navbar {
                opacity: 0.2;
                background-color: inherit;
                box-shadow: unset;
                border: unset;
            }
            & > div.note-main {
                & > p.last-updated {
                    opacity: 0.6;
                    color: var(--jvp-jcloud-last-update-color);
                }
                & > h1.title {
                    opacity: 0.6;
                    color: var(--jvp-jcloud-title-color);
                }
            }
        }
    }


    #rendered-md {
        position: relative;
        box-shadow: var(--jvp-paper-box-shadow);
        box-sizing: border-box;
        margin-block: var(--jvp-page-spacing); /* just sets the page off the top a bit */
        margin-inline: auto;
        --tmp-page-margin: min(var(--jvp-page-margin),var(--jvp-min-margin));
        padding-block: var(--tmp-page-margin);
        padding-inline: var(--tmp-page-margin);
        color: var(--jvp-text-color);
        background-color: var(--jvp-paper-color);
        a { color: var(--jvp-text-color-link); }
        a:hover { color: var(--jvp-text-color-link-hover); }

        /* show bit of margin surrounding the virtual page on small screens */
        width: 96%;
        max-width: var(--jvp-pgwidth);

        min-height: var(--jvp-pgheight);

        /* This is either ugly or clever. Maybe simply "too clever" …
         * We are attempting to remove the top margin from the first element.
         * But that element block may be one of <style></style> or
         * <div id="jvp"></div>. And so we keep working down the line.
         * Note, for :last-child, we are less concerned if the end spacing is
         * absolutely cleared out. */
        & > :first-child {
            margin-block-start: 0;
            padding-block-start: 0;
            &:where(#jvp) + * {
                margin-block-start: 0;
                padding-block-start: 0;
            }
            &:where(style) {
                & + * {
                    margin-block-start: 0;
                    padding-block-start: 0;
                }
                & + :where(#jvp) + * {
                    margin-block-start: 0;
                    padding-block-start: 0;
                }
            }
        }
        & > :last-child {
            margin-block-end: 0;
            padding-block-end: 0;
        }

        /* add a left-side 1st-page margin marker to the rendering */
        & div#jvp::before {
            display: var(--jvp-margin-markers-display);
            position: absolute;
            content: "";
            --tmp-page-margin: min(var(--jvp-page-margin),var(--jvp-min-margin));
            --tmp-content-height: calc(var(--jvp-pgheight) - var(--tmp-page-margin) - var(--tmp-page-margin));
            top: var(--tmp-page-margin);
            left: 0;
            width: calc(var(--tmp-page-margin) / 4);
            height: calc(var(--tmp-content-height));
            border-block: var(--jvp-1st-page-marker-color) solid 2px;
            border-inline-start: unset;
            border-inline-end: var(--jvp-1st-page-marker-color) solid 1px;
            margin-inline-start: calc(var(--tmp-page-margin) * .75);
            margin-inline-end: unset;
        }
        /* add a right-side 1st-page margin marker to the rendering */
        & div#jvp::after {
            display: var(--jvp-margin-markers-display);
            position: absolute;
            content: "";
            --tmp-page-margin: min(var(--jvp-page-margin),var(--jvp-min-margin));
            --tmp-content-height: calc(var(--jvp-pgheight) - var(--tmp-page-margin) - var(--tmp-page-margin));
            top: var(--tmp-page-margin);
            right: 0;
            width: calc(var(--tmp-page-margin) / 4);
            height: calc(var(--tmp-content-height));
            border-block: var(--jvp-1st-page-marker-color) solid 2px;
            border-inline-start: var(--jvp-1st-page-marker-color) solid 1px;
            border-inline-end: unset;
            margin-inline-start: unset;
            margin-inline-end: calc(var(--tmp-page-margin) * .75);
        }
        & div#jvp:is(.help,.switches) {
            &::before {
                display: block;
                position: relative;
                content: 'Switches, place <div id="jvp" class="insert-switch-here"></div> at top of note:\A'
                  "\9 off\A\9\9 Turn off jvirtpage styles.\A"
                  "\9 dark, dim\A\9\9 Set an alternative theme.\A"
                  "\9 us (default), ush, a4, a5, a6\A\9\9 Set @page dimensions.\A"
                  "\9 no-page-markers, show-page-markers (default)\A\9\9 No/Show fancy margin indicators.\A"
                  "\9 no-pdfs, show-pdfs (default)\A\9\9 No/Show expansion of PDFs within note preview.\A"
                  "\9 no-notes, show-notes (default)\A\9\9 No/Show jvp notes.\A"
                  "\9 no-links, no-links-export\A\9\9 Turn off all links. Turn off all links upon export.\A"
                  "\9 show-title\A\9\9 (default) Include title in exported (PDF or HTML) or Joplin Cloud view.\A"
                  "\9 no-title\A\9\9 Do not include title in exported (PDF or HTML) or Joplin Cloud view.\A"
                  "\9 show-date\A\9\9 (default) Include last update date in Joplin Cloud view.\A"
                  "\9 no-date\A\9\9 Do not include last update date in Joplin Cloud view.\A"
                  "\9 help\A\9\9 Display this help text.";
                top: 0;
                left: 0;
                width: calc(var(--jvp-pgwidth) - var(--jvp-page-margin) - var(--jvp-page-margin));
                height: auto;
                white-space: pre-wrap;
                border: 2px solid var(--jvp-1st-page-marker-color);
                padding: 10px;
                margin-block-end: 10px;
                margin-inline: unset;
            }
            &::after {
                display: none;
            }
        }
        & div.note {
            display: var(--jvp-note-display);
            border: 1px dashed darkgray;
            padding: 5px 10px;
            & :last-child,
            & :first-child {
                margin: 0;
            }
        }
    } /* end #rendered-md */

} /* end @media screen */


/*
 * configuration for print and PDF rendering
 */
@media print {
    html,
    body {
        page: jvp-page-dimensions;
        width: 100%; max-width: 100%; border: 0; padding: 0; margin: 0; background-color: transparent;
    }
    #rendered-md {
        width: 100%; max-width: 100%; padding: 0; margin: 0; box-shadow: unset;
    }

    /* remove or show Joplin-inserted title & padding */
    body > div.exported-note {
        margin: 0;
        padding: 0;
        & > div.exported-note-title {
            display: var(--jvp-title-display);
        }
    }

    div#joplin-container-pluginAssetsContainer { display: none !important; }

    /* no-links, no-links-export
     * If you want to disable links in your document: one option disables all
     * links (no-links), and another only disables links in an exported PDF
     * (no-links-export)
     * Note, no-links rules defined outside of @media print section above */
    :has(:where(#jvp:where(
      #no-links-pdf,#disable-links-pdf,.no-links-pdf,.disable-links-pdf,
      #no-links-export,#disable-links-export,.no-links-export,.disable-links-export))) {
        a,
        a:is(:any-link,:link,:active,:visited,:hover) {
            pointer-events: none;
            cursor: default;
            color: inherit;
            text-decoration: unset;
            border: unset;
        }
    }

    /* exported view: Joplin Cloud's version */
    body.page-note {
        /* remove footer with copright and T&Cs */
        & > div.footer { display: none; }
        & > main.main {
            margin: 0;
            padding: 0;
            & > div.container.main-container {
                /* remove branded navbar */
                & > nav.navbar { display: none; }
                & > div.note-main {
                    /* viewport to 100% */
                    margin: 0 auto;
                    padding: 0;
                    max-width: 100%;
                    /* remove note title */
                    /* remove "Last updated" line */
                    & > h1.title,
                    & > p.last-updated { display: none; }
                }
            }
        }
    }
} /* end @media print */

} /* end :not( :has( :where(#jvp:where(.off)) ) ) */

/* Uncomment the brace below and its mirroring :has( div:where(#jvp) ) { toward
 * the top of the file if you want to require <div id="jvp"></div> to exist in
 * a note before allowing any of this formatting to function.
}
*/


@page jvp-page-dimensions {
    size: var(--jvp-pgwidth) var(--jvp-pgheight);
    margin: var(--jvp-page-margin);
}
