/* Remove the automated title from exported (PDF/Print) notes
 *
 * Joplin automatically adds the title of your note when exported. I like to
 * control that myself. And therefore, I remove it.
 *
 * Add this CSS configuration block to your userstyle.css file found in …
 * Linux/macOS: ~/.config/joplin-desktop/
 * -or-
 * Windows: C:\Users\%USERNAME%\.config\joplin-desktop\
 *
 * Note, this tweak is associated with id="jtweaks". If you include this
 * snippet but want to temporarily turn it and all jtweaks off, simply add
 * this anywhere within the note …
 *
 * <div id="jtweaks" class="off"></div>
 *
 */ 


/* Uncomment this :has and its mirroring brace at the end of the file if you
 * want to require <div id="jtweaks"></div> to exist in a note before allowing
 * any of this formatting to function. I.e., the stylings will be OFF by
 * default if you uncomment this and its ending brace.
:has( div#jtweaks ) {
*/

/* Switch that allows flipping off this tweak along with all jtweaks. */
:not( :has( div#jtweaks:is(.off),#jtweaks-off,#jtweaksoff ) ) {




@media print {
    /* exported HTNL view to PDF: remove Joplin-inserted title & padding */
    body:not(#joplin-container-body) > div.exported-note {
        margin: 0;
        padding: 0;
        & > div.exported-note-title {
            display: none !important;
        }
    }
}




} /* end :not( :has( div#jtweaks:is(.off) ) ) */

/* Uncomment this brace and its mirroring :has toward the top of the file if
 * you want to require <div id="tweaks"></div> to exist in a note before
 * allowing any of this formatting to function.
}
*/

